.App {
  text-align: center;
  color: white;
  padding: 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  max-width: 100vw;
}

.SensorLabel {
  font-weight: 600;
}

.SensorValue {
  text-align: right;
  font-weight: 300;
}
